# Build directories
*__pycache__/
*egg-info/
*dist/
*build/

# Jupyter
.ipynb_checkpoints/

# Directories
misc/
src/acdc/data/superdarks/active_quiescent/

# Specific filetypes
*.p
*.pdf
*.npy
*.fits
*.png
*.db
*.pro
