# Build directories
__pycache__/
cos_dark.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Data directories
superdarks/
output/
low_sn_data/
old/

# Specific filetypes
*.p
*.asdf
*.pdf
*.npy
*.fits
*.png
